html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

