html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}